/* navigation link styling */
#navigationLinks {
  font-size: 1.5em;
  padding: 1em;
}

/* map styling */
#map {
  height: 75%;
  padding: 1em;
}

/* login form styling */
form {
  width: 400px;
  padding: 1em;
}

form div + div {
  margin-top: 1em;
}

label{
  font-size: 1.5em;
  display: inline-block;
  width: 100px;
  text-align: left;
}

input, textarea {
  width: 300px;
  box-sizing: border-box;
}

textarea {
  height: 2em;
}

textarea {
  vertical-align: top;
}

button {
  font-size: 1.5em;
}

/* misc styling*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}