/* navigation link styling */
#navigationLinks {
    font-size: 1.5em;
    padding: 1em;
  }
  
  /* map styling */
  #map {
    height: 75%;
    padding: 1em;
  }
  
  /* misc styling*/
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0055A2; /* Spartan Blue */
  
  }
  
  h1 {
    color: white;
    padding: 1em;
  }
  
  a {
    color: white;
  }
  
  #loader {
    color: white;
    font-size: 1.5em;
    padding: 1em;
  }